<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whatsapp</title>

    <link rel="stylesheet" href="static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />

    <link href="
    https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/fontawesome.min.css
    " rel="stylesheet" />
  </head>

  <body>
    <div class="main">
      <!-- logo part of whatsapp -->

      <div class="logo">
        <i class="ri-whatsapp-line"></i>
        <p style="color: white;">WhatsApp</p>
      </div>

      <!-- all side icons of whatsapp -->
      <div class="icons">
        <div class="top">
          <i class="ri-menu-line menu"></i>
          <i class="ri-chat-voice-line chaticon"></i>
          <i class="ri-phone-line callicon"></i>
          <i class="ri-focus-2-line statusicon"></i>
        </div>
        <div class="bottom">
          <i class="ri-star-line"></i>
          <i class="ri-archive-line"></i>
          <hr />
          <i class="ri-settings-4-line settings"></i>
          <i class="ri-user-line user"></i>
        </div>
      </div>

      <!-- Chat list part of whatsapp -->
      <div class="left">
        <!-- Chat icon part in left bar -->
        <div class="chat">
          <p>Chats</p>
          <div class="chatsymbols">
            <i title="Add User" class="ri-chat-new-line addnewchat"></i>
           <a title="Delete User" style="margin-top: 4px;" href="/deletepage/"><i class="ri-delete-bin-6-line"></i></a> 
          </div>
        </div>
        <div class="addchat">
          <div class="login-page">
            <div class="form">
              <form class="login-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="user_form">
                <input type="text" name="name" placeholder="Full Name & Image" required />
                <input type="file" name="image" accept=".png, .jpeg, .jpg" required/>
                <button type="submit">Add User</button>
              </form>
            </div>
          </div>
        </div>
        <!-- search bar of whatsapp -->
        <div class="search">
          <input type="text" placeholder="Search or start a new chat" />
          <i class="ri-search-line"></i>
        </div>

        <div class="chatbox">
          {% for user in users %}
            <div class="chats">
              <div class="profilepic">
                <img id="imgs" src="{{ user.image.url }}" alt="" />
              </div>
              <div class="info">
                <p id="name">{{ user.name }}</p>
                <p id="msg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, quae?</p>
              </div>
              <div class="time">4:41 Pm</div>
            </div>
            {% endfor %}
          </div>
      </div>

      <!-- Message part of whatsapp -->
      <div class="right">
        <!-- call and name section of Whatsapp -->
        <div class="up">
          <div class="title">
            <div class="profilepic">
              <img id="img" src="{% static 'images/glow.png' %}" alt="" />
            </div>
            <div class="info">
              <p id="names">Mohit Pandey</p>
              <p id="msgs">online</p>
            </div>
          </div>

          <div class="call">
            <div class="calling">
              <i class="ri-phone-line voicecall"></i>
              <hr />
              <i class="ri-video-on-line videocall"></i>
            </div>
            <i class="ri-search-line"></i>
          </div>
        </div>

        <!-- message section of WhatsApp -->
        <div class="mid">
          <div class="chat-container">
            <div class="chat-bubble sent">Hello! How are you?</div>
            <div class="chat-bubble received">I'm good, thanks! How about you?</div>
            <div class="chat-bubble sent">I'm great, thanks for asking!</div>
            <div class="chat-bubble received">So whats your plan for today?</div>
            <div class="chat-bubble sent">I'm thinking of going for a hike. What about you?</div>
            <div class="chat-bubble received">Sounds fun! I might just relax at home and read a book.</div>
            {% for chat in chats  %}
            <div class="chat-bubble sent">{{chat.chat}}</div>
            {% endfor %}
          </div>
        </div>

        <!-- emoji and type bar of whatsapp -->
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="chat_form">
        <div class="down">
          <div class="emoji">
            <i class="ri-emoji-sticker-line"></i>
            <i class="ri-attachment-2"></i>
          </div>
          <input name="msg" type="texta" placeholder="Type a message" />
          <button class="sendc"><i class="send ri-send-plane-2-line"></i></button>
        </div>
      </form>
      </div>
    </div>

    <!-- profilepage by open with user icon -->

    <div class="profilepage">
      <div class="optionmenu">
        <div class="items">
          <div class="item">
            <i class="ri-computer-line"></i> General
          </div>
          <div class="item">
            <i class="ri-key-2-line"></i> Account
          </div>
          <div class="item">
            <i class="ri-wechat-line"></i> Chats
          </div>
          <div class="item">
            <i class="ri-video-on-line"></i> Video & Voice
          </div>
          <div class="item">
            <i class="ri-notification-3-line"></i> Notification
          </div>
          <div class="item">
            <i class="ri-brush-line"></i> Personalization
          </div>
          <div class="item">
            <i class="ri-hard-drive-2-line"></i> Storage
          </div>
          <div class="item">
            <i class="ri-keyboard-box-line"></i> Shortcut
          </div>
          <div class="item">
            <i class="ri-information-line"></i> Help
          </div>
        </div>
        <div class="close">
          <i class="ri-user-line"></i> Profile
        </div>
      </div>
      <div class="profile">
        <div class="container">
          <div class="image">
            <img src="{% static 'images/photo.jpg' %}" alt="" />
          </div>
          <div class="nameinfo">
            <h3>Mohit Pandey</h3>
            <i class="ri-pencil-line"></i>
          </div>
          <div class="about">
            <div class="abin">
              <h4>About</h4>
              <p>ॐ कृष्णाय वासुदेवाय हरये परमात्मने । प्रणतः क्लेशनाशाय गोविंदाय नमो नमः ।।🍁</p>
            </div>
            <i class="ri-pencil-line"></i>
          </div>
          <div class="phonenumber">
            <h4>Phone</h4>
            <p>+91 9876543210</p>
          </div>
        </div>
        <hr />
        <div class="logout">
          <button>Logout</button>
          <p>Chat history on this computer will be cleared when you logout.</p>
        </div>
      </div>
    </div>

    <!-- setiings by open with setting icon -->
    <div class="settingspage">
      <div class="optionmenu">
        <div class="items">
          <div class="item general">
            <i class="ri-computer-line"></i> General
          </div>
          <div class="item">
            <i class="ri-key-2-line"></i> Account
          </div>
          <div class="item">
            <i class="ri-wechat-line"></i> Chats
          </div>
          <div class="item">
            <i class="ri-video-on-line"></i> Video & Voice
          </div>
          <div class="item">
            <i class="ri-notification-3-line"></i> Notification
          </div>
          <div class="item">
            <i class="ri-brush-line"></i> Personalization
          </div>
          <div class="item">
            <i class="ri-hard-drive-2-line"></i> Storage
          </div>
          <div class="item">
            <i class="ri-keyboard-box-line"></i> Shortcut
          </div>
          <div class="item">
            <i class="ri-information-line"></i> Help
          </div>
        </div>
        <div class="close user">
          <i class="ri-user-line user"></i> Profile
        </div>
      </div>
      <div class="profile">
        <div class="container">
          <h2>Genral</h2>
          <p style="font-size: 18px;">Login</p>
          <div class="nameinfo">
            <p>Start WhatsApp at login</p>
            <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
          </div>
          <div class="language">
            <div class="language">
              <p style="font-size: 18px;">Language</p>
              <button><i class="ri-global-line"></i> System Default <i class="ri-arrow-down-s-line"></i></button>
            </div>
          </div>
          <div class="phonenumber">
            <p style="font-size: 18px;">Typing</p><br />
            <p style="font-size: 12px;">
              change typing setting for <strong>autocorrect</strong> and
              <strong>misspalled highlight</strong> from <u style="color: rgb(6, 167, 6);"><span>Windows Settings</span></u>
            </p>
          </div>
        </div>
        <hr />
        <div class="logout">
          <p>Replace text with emoji 😁</p>
          <div style="display: flex; align-items: center; justify-content: space-around;" class="tog">
            <p>Emoji will replace with specefic text as you type.</p>
            <input type="checkbox" id="onof" /><label id="on" for="onof">Toggle</label>
          </div>
          <p style="color: rgb(6, 167, 6); font-size: 13px;">
            <u>See list of text</u>
          </p>
        </div>
      </div>
    </div>

    <!-- Voice call button functioms -->
    <div class="callbox">
      <div class="calltop">
        <div class="logo">
          <i class="ri-whatsapp-line"></i>
          <p style="color: white;">WhatsApp</p>
        </div>
        <div class="discr">
          <i class="ri-lock-line"></i>
          End-to-end encryption
        </div>
      </div>

      <div class="innercall">
        <img id="image" src="{% static 'images/glow.png' %}" alt="" />
        <p class="callname">Mohit Pandey</p>
        <p>Ringing...</p>
      </div>

      <div class="btcall">
        <i class="ri-user-add-line callicons"></i>
        <i class="ri-video-on-line callicons"></i>
        <i class="ri-mic-line callicons"></i>
        <i class="ri-more-2-fill callicons"></i>
        <img class="endcall" src="{% static 'images/phone.png' %}" alt="" />
      </div>
    </div>

    <div class="callbox videocallbox">
      <div class="calltop">
        <div class="logo">
          <i class="ri-whatsapp-line"></i>
          <p style="color: white;">WhatsApp</p>
        </div>
        <div class="discr">
          <i class="ri-lock-line"></i>
          End-to-end encryption
        </div>
      </div>

      <div class="innercall">
        <img id="vdoimage" src="{% static 'images/glow.png' %}" alt="" />
        <p class="vdocallname">Mohit Pandey</p>
        <p>Ringing...</p>
        <div class="camframe">
          <video id="videoElement" autoplay playsinline></video>
        </div>
      </div>

      <div class="btcall">
        <i class="ri-user-add-line callicons"></i>
        <div class="stp">
          <i class="ri-video-on-line callicons stopButton"></i>
        </div>
        <i class="ri-mic-line callicons"></i>
        <i class="ri-more-2-fill callicons"></i>
        <img class="endcall endvdcall" src="{% static 'images/phone.png' %}" alt="" />
      </div>
    </div>

    <script>
      let chaticon = document.querySelector('.chaticon')
      let menu = document.querySelector('.menu')
      let callicon = document.querySelector('.callicon')
      let statusicon = document.querySelector('.statusicon')
      let chat = document.querySelectorAll('.chats')
      let chatname = document.getElementById('names')
      let chatimg = document.getElementById('img')
      let callimg = document.getElementById('image')
      let callname = document.querySelector('.callname')
      let vdocallimg = document.getElementById('vdoimage')
      let vdocallname = document.querySelector('.vdocallname')
      let addchat = document.querySelector('.addchat')
      let addnewchat = document.querySelector('.addnewchat')
      let profilepage = document.querySelector('.profilepage')
      let settingspage = document.querySelector('.settingspage')
      let user = document.querySelector('.user')
      let settings = document.querySelector('.settings')
      let leftbox = document.querySelector('.left')
      let rightbox = document.querySelector('.right')
      let icons = document.querySelectorAll('i')
      let callbox = document.querySelector('.callbox')
      let voicecall = document.querySelector('.voicecall')
      let videocall = document.querySelector('.videocall')
      let videocallbox = document.querySelector('.videocallbox')
      const videoElement = document.getElementById('videoElement')
      let endcall = document.querySelector('.endcall')
      let endvdcall = document.querySelector('.endvdcall')
      let stopButton = document.querySelector('.stopButton')
      let stp = document.querySelector('.stp')
      var audio = new Audio('static/images/ring.mp3')
      let stream;
      let activeChat = null;
      
      // Add a click event listener  to the menu button
      function setRightBoxWidth() {
        if (window.innerWidth <= 1000) {
          rightbox.style.width = '85vw'
        } else {
          rightbox.style.width = '96vw'
        }
      }
      
      menu.addEventListener('click', () => {
        setRightBoxWidth()
        window.addEventListener('resize', setRightBoxWidth)
        if (leftbox.style.display === 'none' && window.innerWidth >= 600) {
          leftbox.style.display = 'block'
          rightbox.style.width = '71vw'
          rightbox.style.borderRadius = '0'
        } else if (leftbox.style.display === 'none' && window.innerWidth <= 600) {
          leftbox.style.display = 'block'
          rightbox.style.width = '85vw'
          rightbox.style.borderRadius = '0'
        } else {
          leftbox.style.display = 'none'
          setRightBoxWidth() // Adjust width based on viewport width
          rightbox.style.borderRadius = '8px 0 0 5px'
        }
      })
      //add icon active action
      // Add click event listener to each icon
      icons.forEach((icon) => {
        chaticon.style.backgroundColor = '#252525'
        chaticon.style.borderRadius = '3px'
        chaticon.style.borderLeft = '3px solid rgb(6, 167, 6)'
        icon.addEventListener('click', () => {
          // Remove the active class from all icons
          icons.forEach((i) => {
            i.style.backgroundColor = ''
            i.style.borderRadius = ''
            i.style.borderLeft = ''
          })
          if (!icon.classList.contains('callicons')) {
            // Add the active class to the clicked icon
            icon.style.backgroundColor = '#252525'
            icon.style.borderRadius = '3px'
            icon.style.borderLeft = '3px solid rgb(6, 167, 6)'
          }
        })
      })
      
      //add call button function
      callicon.addEventListener('click', () => {
        leftbox.innerHTML = `
                      <div class="chat">
                                  <p>Calls</p>
                                  <div class="chatsymbols">
                                      <i class="ri-phone-line"></i>
                                      <i class="ri-menu-5-line"></i>
                                  </div>
                              </div>
                  
                              <!-- search bar of whatsapp -->
                              <div class="search">
                                  <input type="text" placeholder="Search or start a new call">
                                  <i class="ri-search-line"></i>
                              </div>
                  
                              <div class="chatbox">
                                  <div class="chats">
                                      <div class="profilepic">
                                          <img src="{% static 'images/blank-profile-picture-973460_1280.png' %}" alt="">
                                      </div>
                                      <div class="info">
                                          <p id="name">Harsh Pandey</p>
                                          <p id="msg"><i class="ri-phone-line"></i> Outgoing</p>
                                      </div>
                                      <div class="time">Yesteday</div>
                                  </div>
                  
                                   <div class="chats">
                                      <div class="profilepic">
                                          <img src="{% static 'images/glow.png' %}" alt="">
                                      </div>
                                      <div class="info">
                                          <p id="name">Mohit Pandey</p>
                                          <p id="msg" style="color:#eb8080;"> <i class="fas fa-phone-slash"></i> Missed (2)</p>
                                      </div>
                                      <div class="time">05/07/2024</div>
                                  </div>
                  
                                   <div class="chats">
                                      <div class="profilepic">
                                          <img src="{% static 'images/do.png' %}" alt="">
                                      </div>
                                      <div class="info">
                                          <p id="name">Uddeshya Awasthi</p>
                                          <p id="msg" style="color:#eb8080;"> <i class="ri-video-off-line"></i> Missed (5)</p>
                                      </div>
                                      <div class="time">03/02/2024</div>
                                  </div>
                                  `
                                  setRightBoxWidth()
                                  window.addEventListener('resize', setRightBoxWidth)
                                  if (window.innerWidth >= 600) {
                                    leftbox.style.display = 'block'
                                    rightbox.style.width = '71vw'
                                    rightbox.style.borderRadius = '0'
                                  } else if (window.innerWidth <= 600) {
                                    leftbox.style.display = 'block'
                                    rightbox.style.width = '85vw'
                                    rightbox.style.borderRadius = '0'
                                  } else {
                                    leftbox.style.display = 'none'
                                    setRightBoxWidth() // Adjust width based on viewport width
                                    rightbox.style.borderRadius = '8px 0 0 5px'
                                  }
      })
      
      //chat functionality
      chaticon.addEventListener('click', () => {
        window.location.href = '/'
      })
      
      //add status icon functionality.
      statusicon.addEventListener('click', () => {
        leftbox.innerHTML = `
                      <div class="chat">
                                  <p>Status</p>
                                  <div class="chatsymbols">
                                      <i class="ri-menu-5-line"></i>
                                  </div>
                              </div>
                  
                              <div class="chatbox">
                                  <div style="justify-content: start; gap: 20px;" class="chats">
                                      <div style="border: 3px solid green; padding:2px;" class="profilepic">
                                          <img src="{% static 'images/photo.jpg' %}" alt="">
                                      </div>
                                      <div class="info">
                                          <p id="name">Mohit Pandey</p>
                                          <p id="msg">Today, 2:45 Pm</p>
                                      </div>
                                  </div>
                                  <h4>Viewd Updates</h4>
                                   <div class="chatbox">
                                  <div style="justify-content: start; gap: 20px;" class="chats">
                                      <div style="border: 3px solid #434343; padding:2px;" class="profilepic">
                                          <img src="{% static 'images/glow.png' %}" alt="">
                                      </div>
                                      <div class="info">
                                          <p id="name">Harsh Pandey</p>
                                          <p id="msg">Today, 5:45 Pm</p>
                                      </div>
                                  </div>`
                                  setRightBoxWidth()
                                  window.addEventListener('resize', setRightBoxWidth)
                                  if (window.innerWidth >= 600) {
                                    leftbox.style.display = 'block'
                                    rightbox.style.width = '71vw'
                                    rightbox.style.borderRadius = '0'
                                  } else if (window.innerWidth <= 600) {
                                    leftbox.style.display = 'block'
                                    rightbox.style.width = '85vw'
                                    rightbox.style.borderRadius = '0'
                                  } else {
                                    leftbox.style.display = 'none'
                                    setRightBoxWidth() // Adjust width based on viewport width
                                    rightbox.style.borderRadius = '8px 0 0 5px'
                                  }
      })
      
      //add user logo profile page function
      profilepage.addEventListener('click', (event) => {
        event.stopPropagation()
      })
      user.addEventListener('click', (event) => {
        event.stopPropagation()
        profilepage.style.left = '10px'
      })
      
      document.addEventListener('click', (event) => {
        profilepage.style.left = '-500px'
      })
      
      //add settings logo setiings page function
      settingspage.addEventListener('click', (event) => {
        event.stopPropagation()
      })
      settings.addEventListener('click', (event) => {
        event.stopPropagation()
        settingspage.style.left = '10px'
      })
      
      document.addEventListener('click', (event) => {
        settingspage.style.left = '-500px'
      })
      
      document.addEventListener('contextmenu', function (e) {
        e.preventDefault()
      })
      
      // Disable selection start
      document.addEventListener('selectstart', function (e) {
        e.preventDefault()
      })
      
      // call box whn click on call btn
      
      // Function to play audio repeatedly
      function playRepeatedly() {
        audio.addEventListener(
          'ended',
          function () {
            this.currentTime = 0
            this.play()
          },
          false
        )
        audio.play()
      }
      
      // Function to stop playing audio
      function stopAudio() {
        audio.pause()
        audio.currentTime = 0
      }
      
      // Event listener for voicecall click
      voicecall.addEventListener('click', () => {
        if (callbox.style.display != 'flex' && videocallbox.style.display != 'flex') {
          playRepeatedly() // Start playing audio repeatedly
          callname.innerText = chatname.innerText;
          callimg.src = chatimg.src;
          callbox.style.display = 'flex'
        } else {
          alert('call not sent!! You are already in a call')
        }
      })
      endcall.addEventListener('click', () => {
        callbox.style.display = 'none'
        audio.pause()
        audio.currentTime = 0
      })
      
      // videocall box making
      
      // Function to open the camera stream
      async function openCamera() {
        try {
          // Request access to the camera
          stream = await navigator.mediaDevices.getUserMedia({ video: true })
      
          // Set the video stream as the source of the video element
          videoElement.srcObject = stream
        } catch (error) {
          console.error('Error accessing the camera:', error)
        }
      }
      
      // Function to stop the camera stream
      function stopCamera() {
        if (stream) {
          const tracks = stream.getTracks()
          tracks.forEach((track) => track.stop())
          videoElement.srcObject = null
        }
      }
      
      videocall.addEventListener('click', () => {
        if (videocallbox.style.display != 'flex' && callbox.style.display != 'flex') {
          openCamera()
          vdocallname.innerText = chatname.innerText;
          vdocallimg.src = chatimg.src;
          videocallbox.style.display = 'flex'
          playRepeatedly()
        } else {
          alert('Call not sent!! You are already in a call')
        }
      })
      
      stp.addEventListener('click', () => {
        if (videoElement.srcObject == stream) {
          stopCamera()
          stp.innerHTML = '<i class="ri-video-off-line callicons stopButton"></i>'
        } else {
          stp.innerHTML = '<i class="ri-video-on-line callicons stopButton"></i>'
          openCamera()
        }
      })
      
      endvdcall.addEventListener('click', () => {
        videocallbox.style.display = 'none'
        audio.pause()
        audio.currentTime = 0
        stopCamera()
      })
      
      // new chat icon working
      
      addnewchat.addEventListener('click', () => {
        if (addchat.style.height != '170px') {
          addchat.style.height = '170px'
        } else {
          addchat.style.height = '0px'
        }
      })

      //chat whne clicked  open mssg box
      chat.forEach(chat => {
        chat.addEventListener('click', (e) => {
          if (activeChat) {
            activeChat.style.backgroundColor = "";
            activeChat.style.borderRadius = "";
          }
      
          // Set the clicked chat as active
          chat.style.backgroundColor = "#2d2d2d";
          chat.style.borderRadius = "8px";
          activeChat = chat;
          chatname.innerText= chat.querySelector('#name').innerText
          chatimg.src= chat.querySelector('#imgs').src
        });
    });
    </script>

    <script src="
    https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/js/all.min.js
    "></script>
  </body>
</html>
